= javascript
= label_tag('comment_description', I18n.t('.comment.create'), class: 'text')
= text_area_tag(:description, '', data: { reflex: "change->Comment::Reflex::Create#form", spot_id: spot_id }, class: 'form-control text comment_description', )
= button_tag(I18n.t('.misc.save'), class: 'btn btn-primary', onclick:"removeValueFromDescription()")