@import 'variables';

#footer{
  height: 150px;
  padding-top: 1em;
  ul{
    display: inline-flex;
    list-style: none;
    text-align: center;
    width: 100vw;
    height: 75%;
    padding: 0;
    margin-bottom: 0;
  }
  li{
    margin: auto auto 0 auto;
    text-shadow: 0px 0px 12px black;
  }
  #copyright{
    text-align: center;
    p{
      font-size: 14px;
    }
    i{
      font-size: 14px;
    }
  }
}

#footer{
  border-image-width: 32px 0 0px;
  border-image-slice: 62;
  border-image-outset: 17px;
  border-style: solid;
  border-image-source: url("/images/rail.png");
  background-image: url("/images/navigation-background.jpg");
  background-size: cover;
}