@import 'variables';

#login_container{
  background-image: url('../images/sign_in_image.jpg');
  height: 94vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: $dark;
}

#big_container{
  background-image: url('../images/sign_in_image.jpg');
  height: 87em;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: $dark;
}

#spot_edit_container{
  height: 94vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: $dark;
}

.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: $white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  .sign_up{
    height: 475px;
  }
  .sign_in{
    height: 400px;
  }
}
.big_form_card {
  width: 450px;
  margin-top: auto;
  margin-bottom: auto;
  background: $white;
  position: relative;
  display: flex;
  justify-content: right;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  .sign_up{
    height: 475px;
  }
  .sign_in{
    height: 400px;
  }
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: $primary;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: $dark !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}

.input-group{
  margin-bottom: 0.5em;
}

.input-group-text {
  background: $dark !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-control-label{
  color: $dark;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $dark !important;
}

.big_form_card .form-group{
  width: 80% !important;
}

.user_card .form-group{
  width: 80% !important;
}

.form-check{
  display: inline-block;
}