@import url(https://fonts.googleapis.com/css?family=Oswald);

.navbar-nav{
  .svg img{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 0px 20px;
  }
  h5{
    text-transform: uppercase;
    font-family: 'Oswald';
  }
}

.navbar-nav{
  margin-left: auto;
}