@import url(https://fonts.googleapis.com/css?family=Oswald);
@import 'variables';

.navbar-nav{
  .svg img{
    height: 60px;
    width: 60px;
    padding: 5px;
    margin: 0px 1vw;
  }
  h5{
    text-transform: uppercase;
    font-family: 'Oswald';
    color: $white;
  }
  li :hover{
    transition: 0.2s;
    background-color: $primary;
  }
}

.navbar-nav{
  margin-left: auto;
}

.navbar{
  border-image-width: 0px 0 32px;
  border-image-source: url("/images/rail.png");
  border-image-slice: 84;
  border-image-repeat: stretch;
  border-image-outset: 16px;
  background-image: url("/images/navigation-background.jpg");
  background-repeat:repeat;
}

.locale-switcher{
  position: relative;
}

.locale-switcher .btn{
  line-height: 2;
}

.locale-switcher .dropdown-menu{
  position: absolute;
}

.locale-switcher .dropdown-menu li{
  padding: 5px;
  font-size: 1.2em;
}

.locale-switcher .dropdown-menu p{
  display: inline;
  margin-left: 5px;
}

.locale-switcher .dropdown-menu :hover{
  background-color: $dark;
  transition: 0.5s;
}

.notification{
  position: relative;
}

.notification .notification-alert{
  position: absolute;
  top: 1em;
  left: 2em;
}

.notification .dropdown-menu{
  background-color: $white;
  width: 32em;
  padding: 0;
}


.notification .dropdown-menu li{
  background-color: $white;
  padding: 0.5em;
}
.notification .dropdown-menu small{
  margin-left: 1em;
}

.notification .dropdown-menu li .mark_as_read{
  float: right;
  margin-right: 1em;
  margin-top: 5px;
}

.notification .dropdown-menu :hover{
  background-color: $white;
}

.navbar-nav .dropdown-menu{
  background-color: $white;
}

.notification .notification_image{
  height: 30px;
  width: 30px;
  object-fit: cover;
}