@import 'variables';

#rss-feed{
  width: 90vw;
  margin: auto;
  margin-top: 2em;
  text-align: center;
}
#rss-feed .col-md-4{
  margin-bottom: 2em;
}
#rss-feed .card-body{
  height: 25em;
  img{
    max-width: 100%;
  }
}

#contests-table{
  margin: 0 5%;
}

.news_icon{
  text-align: center;
  i{
    font-size: 10em;
    color: $primary;
  }
}