@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import 'variables';

.my-skate-container{
  margin-top: 5em;
  font-family: 'Lato', Arial, sans-serif;
}

.myskate-user-image {
  position: relative;
  border-radius: 50%;
  width: calc(33.333% + 6rem);
  width: 20em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  object-fit: cover;
}
.space-for-image{
  height: 10em;
}

#my-skate-content .col-lg-4 .image-hover-text{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(68, 103, 124, 0.72);
  color: #fff;
  opacity: 0;
  padding: 30%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* transition effect. not necessary */
  transition: opacity .5s, visibility .5s;
}
#my-skate-content .col-lg-4 .image-hover-text ul{
  list-style: none;
}

#my-skate-content .col-lg-4 .image-hover-text:hover{
  visibility: visible;
  opacity: 1;
}

#my-skate-content{
  position: relative;
  width: 90vw;
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1%;
  top: -10em;
}

.user-profile{
  padding: 1em;
  text-align: center;
  h3{
    text-transform: uppercase;
  }
  p {
    padding: 0 20%;
  }
}

.user-profile ul
{
    margin: 0;
    padding: 0;
}

.user-profile ul li
{
    list-style-type: none;
    display: inline;
}

.user-profile li:not(:first-child):before {
    content: " | ";
}

#my-skate-content .row{
  padding: 0 5%;
}
#my-skate-content .col-lg-4{
  position: relative;
  text-align: center;
  padding: 0;
  margin: 1em 0;
}
#my-skate-content img{
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.my-skate-site-input-content{
  margin-top: 5em;
  text-align: center;
  h3{
    text-transform: uppercase;
  }
}

.additional-content-container{
  margin-top: 5em;
  text-align: center;
}

.music_player{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.additional-content-container .comments{
  margin: 5em 0;
  padding: 0 10%;
}

#user-site-cards .row{
  margin-left: calc(20% - 5em);
  margin-right: calc(20% - 5em);
}

#user-site-cards .row .col-sm-4{
  text-align: center;
  margin: 2em 0;
  min-width: 400px;
}

#user-site-cards img{
  border-radius: 6% 6% 0 0;
  height: 300px;
  width: 350px;
  object-fit: cover;
}

#user-site-cards .card{
  width: 350px;
  display: inline-block;
  margin: auto;
  border-radius: 6% 6% 0 0;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px rgb(19, 19, 19);
  z-index: 9999;
  font-family: 'Lato', Arial, sans-serif;
  border: 0px;
}
#user-site-cards .card h5{
  text-transform: uppercase;
}

#user-site-cards .card .card-body p{
  height: 100px;
  overflow: auto;
}

#user-site-cards .card h5{
  text-transform: uppercase;
}
#user-site-cards .card-footer-user-site{
  display: flex;
  border-radius: 0 0 24% 24%;
  position: relative;
  top: 25px;
}

#user-site-cards .card-footer-user-site .one-third{
  width: 33.333%;
  border-right: 1px solid $dark;
  padding: 12px;
}
#user-site-cards .card-footer-user-site .one-third.no-boarder{
  width: 33.333%;
}

#myskater-search{
  margin-top: 3em;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 25em;
  i{
    font-size: 2em;
    cursor: pointer;
    color: $dark;
  }
  .btn{
    margin-bottom: 1em;
  }
}

#modal-content .modal-content{
  img{
    height: 700px;
    width: 100%;
    object-fit: cover;
  }
  text-align: center;
  height: 850px;
  overflow: auto;
}

.social_media{
  width: 100%;
  padding: 1em;
  a{
    display: block;
    text-align: center;
  }
  img{
    height: 40px !important;
    width: 100% !important;
    object-fit: contain !important;
  }
}